.temp-highlights-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.temp-highlight-rect {
  position: absolute;
  mix-blend-mode: multiply;
}
